<section id="contact" class="section bg-dark">
  <div class="container">
    <div class="row gy-5">
      <div class="col-lg-6">
        <div class="contact-form">
          <h2>Get in touch</h2>
          <p class="lead">you can easily Enter your name and email:</p>
          <form action="#">
            <div class="row gy-4 gx-3">
              <div class="col-12">
                <div class="form-group">
                  <label for="" class="form-label">Name</label>
                  <input
                    type="text"
                    class="form-control"
                    name="name"
                    required
                  />
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label for="" class="form-label">Email</label>
                  <input
                    type="text"
                    class="form-control"
                    name="name"
                    required
                  />
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label for="" class="form-label">Subject</label>
                  <input type="text" class="form-control" name="subject" />
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label for="" class="form-label">Message</label>
                  <textarea
                    name="message"
                    id=""
                    rows="3"
                    class="form-control"
                  ></textarea>
                </div>
              </div>
              <div class="col-12">
                <button class="colored-btn" type="submit">send message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-5 ms-auto col-xl-4">
        <div class="pb-5 d-none d-md-block">
          <img src="contact.jpg" alt="contact image" class="" />
        </div>
      </div>
    </div>
  </div>
</section>
