<section id="about" class="section">
  <div class="container">
    <div class="row gy-5 align-items-center">
      <div class="col-lg-6 text-center">
        <img src="about-me.jpg" alt="about me photo" class="img-fluid" />
      </div>
      <div class="col-lg-6 ps-lg-5">
        <div class="about-text">
          <h3 class="h1 mb-3 text-dark fw-smibold">
            I'm a freelancer specialized in creating webapps .
          </h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Dignissimos at possimus adipisci? Iure, in, expedita ea optio
            laborum odio facilis illo cum ut nulla labore.
          </p>
          <div class="row pt-2">
            <div class="col-6 col-md-4">
              <h5 class="text-primary fw-smibold fs-4 mb-0">10+</h5>
              <span class="text-dark">projects completed</span>
            </div>
            <div class="col-6 col-md-4">
              <h5 class="text-primary fw-smibold fs-4 mb-0">20+</h5>
              <span class="text-dark">Happy clients</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
