<header>
  <div class="main-header">
    <nav class="navbar header-nav navbar-expand-lg">
      <div class="container">
        <!-- brand logo -->
        <a routerLink="" class="navbar-brand">
          <h4 class="mb-0">salem <span class="text-primary">fareed</span></h4>
        </a>
        <!-- menu -->
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbar-collapse-toggle"
        >
          <ul class="navbar-nav mx-auto">
            <li><a routerLink="" class="nav-link">Home</a></li>
            <li><a routerLink="/about" class="nav-link">About me</a></li>
            <li><a routerLink="/ourservices" class="nav-link">services</a></li>
            <li><a routerLink="/skills" class="nav-link">skills</a></li>
            <li><a routerLink="/projects" class="nav-link">projects</a></li>
          </ul>
        </div>
        <!--button-->
        <div class="ms-auto d-none d-lg-block">
          <a routerLink="/contact" class="colored-btn">contact me</a>
        </div>

        <button
          class="navbar-toggler collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar-collapse-toggle"
        >
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </nav>
  </div>
</header>
