<main>
  <section id="home" class="home-section bg-gray">
    <div class="container">
      <div class="anim-elements">
        <div class="anim-element"><i class="bx bxl-html5"></i></div>
        <div class="anim-element"><i class="bx bxl-css3"></i></div>
        <div class="anim-element"><i class="bx bxl-react"></i></div>
        <div class="anim-element"><i class="bx bxl-android"></i></div>
        <div class="anim-element"><i class="bx bxl-apple"></i></div>
      </div>
      <div class="row gy-5 align-items-center">
        <div class="col-lg-6">
          <div class="home-intro text-center text-lg-start">
            <h6>Hi, my name is salem</h6>
            <h1>Iam a <span id="type-it">front-end</span> Developer</h1>
            <p>based in mansora, Egypt</p>
            <a routerLink="/about" class="colored-btn mt-1">ABOUT ME</a>
          </div>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <div class="home-image text-center">
            <img
              src="my-pic.jpg"
              alt="photo of the owner"
              width="400px"
              height="400px"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
