<section id="portfolio" class="section">
  <div class="container">
    <div class="section-heading text-center">
      <h3>latest projects</h3>
    </div>
    <div class="portfolio-box">
      <div
        class="row gx-4 gy-4 pb-3 mb-5 pb-lg-3 justify-content-around align-items-center mt-3"
      >
        <div class="col-lg-6">
          <div class="portfolio-img">
            <img src="avatar2.png" alt="avatar web bage photo" />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="portfolio-text">
            <span>web design</span>
            <h4>website design and development for sartup.</h4>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Praesentium fugit accusantium harum eveniet. Minus repellat earum
            </p>
            <a href="#" class="colored-btn">live demo</a>
          </div>
        </div>
      </div>
      <div
        class="row gx-4 gy-4 pb-3 mb-5 pb-lg-3 justify-content-around align-items-center mt-3 flex-row-reverse"
      >
        <div class="col-lg-6">
          <div class="portfolio-img">
            <img src="my website.png" alt="avatar web bage photo" />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="portfolio-text">
            <span>web design</span>
            <h4>website design and development for sartup.</h4>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Praesentium fugit accusantium harum eveniet. Minus repellat earum
            </p>
            <a href="#" class="colored-btn">live demo</a>
          </div>
        </div>
      </div>
      <div
        class="row gx-4 gy-4 pb-3 mb-5 pb-lg-3 justify-content-around align-items-center mt-3"
      >
        <div class="col-lg-6">
          <div class="portfolio-img">
            <img src="avatar2.png" alt="avatar web bage photo" />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="portfolio-text">
            <span>web design</span>
            <h4>website design and development for sartup.</h4>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Praesentium fugit accusantium harum eveniet. Minus repellat earum
            </p>
            <a href="#" class="colored-btn">live demo</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
