<div class="container px-4 py-5" id="hanging-icons">
  <h2 class="pb-2 text-center">my skills</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="featuer-box col d-flex align-items-start py-5">
      <div
        class="icon-square text-body-emphasis bg-1 d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3"
      >
        <i class="bx bxl-html5"></i>
      </div>
      <div>
        <h3 class="fs-2 text-body-emphasis">HTML</h3>
      </div>
    </div>
    <div class="featuer-box col d-flex align-items-start py-5">
      <div
        class="icon-square text-body-emphasis bg-2 d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3"
      >
        <i class="bx bxl-css3"></i>
      </div>
      <div>
        <h3 class="fs-2 text-body-emphasis">css</h3>
        <p></p>
      </div>
    </div>
    <div class="featuer-box col d-flex align-items-start py-5">
      <div
        class="icon-square text-body-emphasis bg-3 d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3"
      >
        <i class="bx bxl-javascript"></i>
      </div>
      <div>
        <h3 class="fs-2 text-body-emphasis">java script</h3>
      </div>
    </div>
  </div>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="featuer-box col d-flex align-items-start py-5">
      <div
        class="icon-square text-body-emphasis bg-4 d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3"
      >
        <i class="bx bxl-bootstrap"></i>
      </div>
      <div>
        <h3 class="fs-2 text-body-emphasis">Boot strap</h3>
      </div>
    </div>
    <div class="featuer-box col d-flex align-items-start py-5">
      <div
        class="icon-square text-body-emphasis bg-5 d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3"
      >
        <i class="bx bxl-angular"></i>
      </div>
      <div>
        <h3 class="fs-2 text-body-emphasis">angular</h3>
      </div>
    </div>
    <div class="featuer-box col d-flex align-items-start py-5">
      <div
        class="icon-square text-body-emphasis bg-6 d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3"
      >
        <i class="bx bx-desktop"></i>
      </div>
      <div>
        <h3 class="fs-2 text-body-emphasis">responsive design</h3>
      </div>
    </div>
  </div>
</div>
